
.sapUiUx3ShellHeader>.sapUiUx3ShellHeaderTitleLeft>img{
	max-height: 45px !important;
    margin-top: -10px !important;
}

.sapUiUx3ShellHeader>.sapUiUx3ShellHeaderTitleLeft>span{
	font-size: 20px !important;
     
}

.sapUiUx3ShellHeader .sapUiUx3ShellHeaderTitleLeft{
	text-align: center;
	margin-top: 20px !important;
}
