
.sapUiUx3ShellHeader>.sapUiUx3ShellHeaderTitleLeft>img{
	max-height: 20px !important;
	margin-top: -5px !important;
}

.sapUiUx3ShellHeader>.sapUiUx3ShellHeaderTitleLeft>span{
	font-size: 13px !important;
}

.sapUiUx3ShellHeader>.sapUiUx3ShellHeaderTitleLeft{
	padding-top: 5px !important;
}

