.applicationContent {
    background: #d2e1ed;
    background: -webkit-linear-gradient(#d2e1ed, #f1f4f7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d2e1ed, #f1f4f7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d2e1ed, #f1f4f7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d2e1ed, #f1f4f7); /* Standard syntax */
    width: 100%;
}

/*.sapMFlexItem{
    
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    display: flex;
   
}*/

.contentCentered{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.fullHeight{
    height:100%;
}

/* TODO: this is a hack, how do you get the id of loginView?*/
/* One solution is changing NavContainer from VerticalLayout to VBox */
.fullHeight > * {
    height:100%;
}

#mainPage--loginView{
    height: 100%;
}
/* ENDS TODO: this is a hack, how do you get the id of loginView?*/

.invisible{
    visibility: hidden;
}

#mainPage{
    height: 100%;
}

.applicationContent > * {
    height: 100%;
}

/* ------- VIEWS -------- */
.loginView{
    height: 100%;
    align-items: center;
}

.loginVBox{
    /*margin-top: 84px;*/
}


