body {
	background: #d3ebdc;
	text-align: center;
}

.header {
	margin: 1em;
}

.header h1 {
	display: inline;
}

.header img {
	display: inline;
	margin-bottom: -1em;
}

h3{
	color:#888888;
}

form {
	font-size: 12pt;
	margin-top: 2em;
}

input {
	font-size: 12pt;
}

#submit {
	margin-top: 2em;
	border-radius: 6px;
	background-color: #e8f0e6;
	-moz-border-radisus: 5px;
	-webkit-border-radius: 5px;
	width: 9em;
	height: 2em;
}

table{
	-moz-border-radisus: 5px;
	-webkit-border-radius: 5px;
	padding: 1.5em;
	box-shadow: 10px 10px 5px #b8d1c4;
	margin: 0 auto;
}

td {
	text-align: right;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#submit
{
    
    color: #999;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -0.5px 0.5px rgba(0,0,0,3);
    cursor: pointer;
    font-size:15px;
    margin:10px;
}