

.tileHBox{
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 2.4%;
    padding-right: 2.4%;
    margin-left: auto;
    margin-right: auto;
    width: 62%;
}

.tileHBox > *{
    /*TODO: Ensure that this 2.4% corresponds to the 2.4% of the whole page*/
    margin-left: 2.4%;
}


.containerLayoutHBox {
    margin-left: 6.5%;
    margin-right: 6.5%;
    width:100%;
}

.containerLayoutHBox > * {
    margin-right: 3%;
}

.containerLayoutHBox > :first-child {

    width:27%;
}
.containerLayoutHBox > :nth-child(2) {
    width:57%;
}

.viewContainer {
    background-color: white;
}

.leftConsole{

}

/* ------- VIEW GENERAL -------- */
.viewVBox{
    padding-right: calc((100/57)*2%);
    padding-left: calc((100/57)*2%);

}

.header{
    font-size: 1rem;
}
.headerHBox{
    height: 40px;
    align-items: center;
    justify-content: center;
}

.optionsHBox{
    display: block;
}

.optionsSegmBtn{
    display: inline-block;
    float: right;
}

.datePicker{
    display: inline-block;
    float:left;
}

.headerSeparatorLine{
    margin-top: 0px;
    margin-bottom: 0px;
}

/* ------- LEFT CONSOLE -------- */
.workerListScrollContainer{
    background-color: white;
}

.workerList{
    height: 495px;
    background-color: white;
    
}

.workerListItem{
    align-items: center;
    min-height: 100px;
    max-height: 100px;
    border-bottom: .2px solid #d7d7d7;
}

.workerListProfileImg{
    padding-left: 16px;
    padding-right: 5px;
}

.protectionIcon{
    padding-left: 22px;
    padding-right: 32px;
}

.itemDetailLabelLayout{
    padding-right: 16px;
}
.nameLabel{
    font-size: .875rem;
}
.noiseLevelLabel{
    font-size: .7rem;
    padding-left: 4px;
    padding-right: 8px;
}
.locationLabel{
    font-size: .7rem;
    color: grey;
}
.protectionRequiredLabel{
    font-size: .7rem;
    color: grey;
}
/* ------- OVERVIEW VIEW -------- */


/* ------- PEOPLE VIEW -------- */
.grid{
    margin-top: 50px;
    min-height: 365px;
    max-height: 365px;
    overflow: scroll;
}
/* ------- SITE-MAP VIEW -------- */

/* ------- HEARING-CHECK VIEW -------- */