/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2016, 11:03:03 AM
    Author     : I853373
*/

/* ------- UPPER-NAV BUTTONS -------- */
#myApp-BG {
    background-color:white;
}

.applicationContent{
    background-color: white;
}


.navSegmBtn{
    max-width:50%;
    min-width:50%;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 4%;
}

.navHBox{
    height: 88px;
    min-height: 88px;
    width: 100%;
    background-color: #3f5161
}

.navHBox > *{
    justify-content: flex-start;
    width: 100%;
}
/* ------- EMULATOR -------- */
.emulatorSwitch {
    margin-left: 8px
}

#sliderValueText{
    margin-top: 16px;
    color: grey
}

/* ------- SOUNDMETER VIEW -------- */
.soundMeterGauge{
    margin-top: 128px
}

.lowerOptionsHBox {
    margin-top: 28px;
    width: 100%;
}

.lowerOptionsHBox > * {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}


.lowerOptionsAvgText{
    margin-top: 12px;
    font-size: 1.5rem;
    color: grey;
}

.lowerOptionsSegmBtn{
    margin-top: 12px;
    max-width:44%;
    min-width:44%;
    font-size: .87rem;    
}

.lowerOptionsAvgValue{
    margin-top: 12px;
    font-size: 1.5rem;
    color: grey;      
}

/* ------- LOG VIEW -------- */
.logOptionsSegmBtnHBox{
    
} 
.logOptionsSegmBtnHBox > *{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.logOptionsSegmBtn {
    margin-top:64px;
    max-width:40%;
    min-width:40%;
    font-size: .87rem;
}

.datePicker{
    margin-top: 12px;
    width: 144px;
}

.dailyTimeSeries{
    margin-top: 48px;
}